{% if error %}
  {{ error }}
{% endif %}

{% if switch_view %}
  {{ switch_view }}
{% endif %}

{% if view %}
  {{ view }}
{% endif %}

{% if inline_form %}
  {{ inline_form }}
{% endif %}

{% if mobile_units_view %}
  <div class="units-mobile-edit-view hidden">
    {{ mobile_units_view }}
  </div>
{% endif %}
